.card
    img(src="img/thumb/c1.jpg", alt="Machine Learning")
    .card-body
        h2 Machine Learning
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, sit.
        .cta
            a.btn(href="#") Know More
            a.btn.primary(href="#") Enroll
.card
    img(src="img/thumb/c1.jpg", alt="Machine Learning")
    .card-body
        h2 Neural Networks
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sapiente!
        .cta
            a.btn(href="#") Know More
            a.btn.primary(href="#") Enroll
.card
    img(src="img/thumb/c1.jpg", alt="Machine Learning")
    .card-body
        h2 Python Basics
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sapiente!
        .cta
            a.btn(href="#") Know More
            a.btn.primary(href="#") Enroll