each course in courses
    .card
        img(src=course.thumbUrl, alt=course.name)
        .card-body
            h2 #{course.name}
            p #{course.discription}
            .cta
                a.btn(href="/courses?id="+course.cid) Know More
                a.btn.primary(href="/courses?id="+course.cid) Enroll
