meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title Learnet Education - Online courses for Indian students

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
link(rel="shortcut-icon", href="/img/logo.png")
link(rel='stylesheet', href='/css/layout.css')

meta(name='title', content='Learnet Education - Online courses for Indian students')
meta(name='description', content='Providing high-standard courses with in-depth technical knowledge for engineering students to prepare them for the future with industry-ready skills.')
meta(name='keywords', content='courses, machine learning, learnet, python, summer training, ai, artificial intelligence, engineering, skills, tech, technology, ml, tanseer saji, sudhanshu mishra')
meta(name='robots', content='index, follow')
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='language', content='English')
meta(name='revisit-after', content='1 days')
meta(name='author', content='Learnet Education')