.hero-text
    h1 Learnet
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique fuga nostrum laborum nesciunt expedita repellat incidunt provident maiores beatae. Modi distinctio sapiente ut fugiat voluptas exercitationem culpa sed soluta quisquam!
    a.btn.primary(href="#") Know More