.mobile-menu
    .close
        <i class="fas fa-times closeMenu closeMenuButton mobile"></i>
    ul
        li.closeMenu
            a.btn(href="/") Home
        li.closeMenu
            a.btn(href="/courses") Explore
        li.closeMenu
            a.btn(href="/about") About
        li.closeMenu
            a.btn.primary(href="/auth") Get Started
.nav
    .navcontainer
        .name
            img(src="/img/logo.png", alt="Learnet")
        .menu
            <i class="mobile fas fa-bars openMenu"></i>
            ul.desktop
                li
                    a.btn(href="/") Home
                li
                    a.btn(href="/courses") Explore
                li
                    a.btn(href="/about") About
                li
                    a.btn.primary(href="/auth") Get Started