.nav
    .name
        img(src="img/logo.png", alt="Learnet")
    .menu
        <i class="mobile fas fa-bars"></i>
        ul.desktop
            li
                a.btn(href="#") Home
            li
                a.btn(href="#") Courses
            li
                a.btn(href="#") About
            li
                a.btn.primary(href="#") Sign Up