script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9")

script.
    $('.openMenu').on('click', function (){
        $('.mobile-menu').addClass('show');
    });
    $('.closeMenu').on('click', function (){
        $('.mobile-menu').removeClass('show');
    });

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });