.card
    img.img(src="img/sd_about.jpeg", alt="Sudhanshu Mishra")
    a(href="https://www.linkedin.com/in/sudhanshumishra8826/", target="_blank")
        .hover-details
            p.name Sudhanshu Mishra
            p.details Computer Science Enthusiast
            .icons
                <i class="fab fa-linkedin"></i>

.card
    img.img(src="img/ts_about.jpg", alt="Tanseer Saji")
    a(href="https://www.linkedin.com/in/tanseersaji/", target="_blank")
        .hover-details
            p.name Tanseer Saji
            p.details Machine Learning Engineer
            .icons
                <i class="fab fa-linkedin"></i>