.card
    img.img(src="img/dp.svg", alt="Person 1")
    a(href="#")
        .hover-details
            p.name Sudhanshu Mishra
            p.details Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, eius.
            .icons
                <i class="fab fa-linkedin"></i>

.card
    img.img(src="img/dp.svg", alt="Person 1")
    a(href="#")
        .hover-details
            p.name Tanseer Saji
            p.details Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, eius.
            .icons
                <i class="fab fa-linkedin"></i>