<div class="card"><img class="img" src="img/sd_about.jpeg" alt="Sudhanshu Mishra" />
    <a href="https://www.linkedin.com/in/sudhanshumishra8826/" target="_blank">
        <div class="hover-details">
            <p class="name">Sudhanshu Mishra</p>
            <p class="details">Computer Science Enthusiast</p>
            <div class="icons"><i class="fab fa-linkedin"></i></div>
        </div>
    </a>
</div>
<div class="card"><img class="img" src="img/ts_about.jpg" alt="Tanseer Saji" />
    <a href="https://www.linkedin.com/in/tanseersaji/" target="_blank">
        <div class="hover-details">
            <p class="name">Tanseer Saji</p>
            <p class="details">Machine Learning Engineer</p>
            <div class="icons"><i class="fab fa-linkedin"></i></div>
        </div>
    </a>
</div>