
    <div class="user-nav-container navcontainer">
        <div class="username-container"> <p>Welcome <span class="user-name">{{user.displayName}}!</span></p></div>
        <div class="logout-btn-container">     
        <a href="/logout" class="btn primary">Log Out</a></div>
    </div>