doctype
html(lang='en')
    head
        include ./includes/head.pug
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
        style.
            .subscribe{
                background: #f5f5f5;
                margin-top: 70px;
            }
            .hero-text{
                height: 70vh;
            }
            .header{
                background-image: none;
                height: auto;
                padding-bottom: 30px;
            }
            .our-team{
                background: #f5f5f5;
                padding-bottom: 40px;
                margin: 25px 0px;
            }

    body
        .wrapper
            include ./includes/nav.pug
            .header
                .hero-text
                    h1 About Us
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis exercitationem sequi dolore deserunt accusamus impedit error nihil illum! Sunt, expedita quo ipsum fugiat accusantium esse molestias alias corporis, molestiae, maxime omnis mollitia porro deserunt vero quasi quae dolor quaerat ad iste asperiores eligendi.

                    a.btn.primary(href="/course") Courses

                .our-team
                    .heading
                        h2 Our Team
                    .row
                        include ./includes/team_cards.pug
                    
                .hero-text
                    h2 Why us?
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe necessitatibus libero quas facilis ullam, repellendus enim, adipisci, amet ab at sit tempore vero ratione corporis possimus repellat? Est, dolorum accusantium ad laborum, eveniet beatae mollitia fuga distinctio qui, ex dolores asperiores ipsam commodi. Autem dignissimos corrupti eos. Qui, quos a.

                    h2 What are our services?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .subscribe#subscribe
                include ./includes/subscribe.html
            
            include ./includes/scripts.pug