<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <p>redirecting in 5 seconds.</p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyApq_mQQtS9vtbR1gx6zs-NlIvu-ZEfhtE",
            authDomain: "learneteducation-44.firebaseapp.com",
            databaseURL: "https://learneteducation-44.firebaseio.com",
            projectId: "learneteducation-44",
            storageBucket: "learneteducation-44.appspot.com",
            messagingSenderId: "901520513086"
        };
        firebase.initializeApp(config);
        const provider = new firebase.auth.GoogleAuthProvider();

        firebase.auth().getRedirectResult().then(function(result) {
            if (result.credential) {
                $('body').html("Redirecting in 5 seconds");
                location.replace('/auth/_/' + result.user.uid);
            } else {
                firebase.auth().signInWithRedirect(provider);
            }
        }).catch(function(error) {});
    </script>
</body>

</html>