doctype
html(lang='en')
    head
        include ./includes/head.pug
        style.
            .subscribe{
                background: #f5f5f5;
            }
    body
        .wrapper
            .header.nobgimg
                include ./includes/nav.pug
                .topcourse
                    //- Shows the top course
                    //- or the course detail.

        .courses
            //- Shows a list of other courses
            .heading
                h2 Other related courses
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur quos culpa odit cum natus, quasi molestiae minus, iure, deleniti facere ipsa nemo debitis porro autem praesentium facilis optio ullam?
            .row
                .card
                    img(src="img/thumb/c1.jpg", alt="Machine Learning")
                    .card-body
                        h2 Neural Networks
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sapiente!
                        .cta
                            a.btn(href="#") Know More
                            a.btn.primary(href="#") Enroll

                .card
                    img(src="img/thumb/c1.jpg", alt="Machine Learning")
                    .card-body
                        h2 Deep Learning
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sapiente!
                        .cta
                            a.btn(href="#") Know More
                            a.btn.primary(href="#") Enroll

                .card
                    img(src="img/thumb/c1.jpg", alt="Machine Learning")
                    .card-body
                        h2 Python Basics
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sapiente!
                        .cta
                            a.btn(href="#") Know More
                            a.btn.primary(href="#") Enroll

        .subscribe#subscribe
            include ./includes/subscribe.html
        .footer
            .copyright
                p &copy; Learnet Education
            .others
                
        include ./includes/scripts.pug
