
<div class="wrapper">
{{> _nav}}

    <div class="courses-container">
         <div class="courses" id="courses">
            <div class="heading">
                <h2>Most Popular Courses</h2>
            </div>
            <div class="row">
                {{> _course_cards}}
            </div>
            </div>
    </div>
    </div>
   