{{> _nav}}
<div class="wrapper">
        <div class="user-container">       
                {{> _user_nav}}
                <div class="courses" id="courses">
                        <div class="user-heading">
                                <h2>My Courses</h2>
                        </div>
                        <div class="row">
                                {{> _course_cards}}
                        </div>
                </div>
         </div>
        </div>
</div>