<!DOCTYPE html>
html(lang="en")
    head
        include ./includes/head.pug
    body
        .wrapper
            .header
                include ./includes/nav.pug
                include ./includes/header.pug
            .banner
                p Teaching the Skills of Tomorrow.
            .courses
                .heading
                    h2 Most Popular Courses
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur quos culpa odit cum natus, quasi molestiae minus, iure, deleniti facere ipsa nemo debitis porro autem praesentium facilis optio ullam?
                .row
                    include ./includes/course_cards.pug