doctype
html(lang="en")
    head
        include ./includes/head.pug
        style.
            .courses{
                margin: 0px;
            }
    body
        .wrapper
            include ./includes/nav.pug
            .header#home
                .hero-text
                    h1 Learnet
                    p Equipping and mentoring students with the skills required to participate in modern tech industry and potentially land a job or even build there own startup to create a change.

                    a.btn.primary(href="/about") Know More
            .banner
                p Teaching the Skills of Tomorrow.
            .courses#courses
                .heading
                    h2 Most Popular Courses

                .row
                    include ./includes/course_cards.pug
            .banner.wcu#subscribe
                h1 Why choose us?
                include ./includes/text_auto_type.pug
            .subscribe
                include ./includes/subscribe.html
                    
            include ./includes/scripts.pug
            
            script.
                var typed = new Typed('#printReason',{
                    stringsElement: '#reasons',
                    typeSpeed: 20,
                    backSpeed: 15,
                    cursorChar: ' | ',
                    backDelay: 1500,
                    loop: true,
                    loopCount: Infinity
                });
