<!DOCTYPE html>
html(lang="en")
    head
        include ./includes/head.pug
    body
        .wrapper
            .header
                include ./includes/nav.pug
                include ./includes/header.pug
            .courses
                .heading
                    h2 Most Popular Courses
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur quos culpa odit cum natus, quasi molestiae minus, iure, deleniti facere ipsa nemo debitis porro autem praesentium facilis optio ullam?
                .row
                    .card
                        img(src="img/thumb/c1.jpg", alt="Machine Learning")
                        h1 Machine Learning (Basics)
                        .cta
                            a.nohoverbtn(href="#") Know More
                            a.btn.primary(href="#") Enroll <br/>(&#x20b9; 1000)