    
<div id="course-preview-container">
    <div id="navigator">
        <div class="bar">
            <div id="course-title"></div>
            <svg aria-hidden="true" id="close" onclick="collapse()" width="20px" height="20px"
	 viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;">
                <g>
                    <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
                        c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
                        C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
                        s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
                </g>
            </svg>

        </div>
        <div id="content-list">
             <ul id="chapter-list"> 
            </ul>
        </div>
    </div>
    <div class="video-container">
        <div class="video-header">
              <div class="nav-menu">
                    <svg   onclick="collapse()" width="25px" height="25px" viewBox="0 0 124 124" fill="#ffffff" style="enable-background:new 0 0 124 124;">
                <g>
                    <path d="M112,6H12C5.4,6,0,11.4,0,18s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,6,112,6z"/>
                    <path d="M112,50H12C5.4,50,0,55.4,0,62c0,6.6,5.4,12,12,12h100c6.6,0,12-5.4,12-12C124,55.4,118.6,50,112,50z"/>
                    <path d="M112,94H12c-6.6,0-12,5.4-12,12s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,94,112,94z"/>
                </g>
            </svg>
              </div>
            <div id="video-title"></div>
            {{#if admin}}
                 <div id="edit-btn">
                   <a href="/ln-admin/course/edit/{{id}}">
                <svg width="25px" height="25px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" fill="#ffffff">
                    <g>
                    <path d="M30.276,1.722C29.168,0.611,27.69,0,26.121,0s-3.045,0.61-4.154,1.72L4.294,19.291c-0.105,0.104-0.185,0.229-0.235,0.367
                        l-4,11c-0.129,0.355-0.046,0.756,0.215,1.031C0.466,31.891,0.729,32,1,32c0.098,0,0.196-0.014,0.293-0.044l9.949-3.052
                        c0.156-0.047,0.298-0.133,0.414-0.248l18.621-18.621C31.389,8.926,32,7.448,32,5.878C31.999,4.309,31.389,2.832,30.276,1.722z
                        M10.092,27.165l-3.724,1.144c-0.217-0.637-0.555-1.201-1.016-1.662c-0.401-0.399-0.866-0.709-1.356-0.961L5.7,21H8v2
                        c0,0.553,0.447,1,1,1h1.765L10.092,27.165z M24.812,12.671L12.628,24.855l0.35-1.647c0.062-0.296-0.012-0.603-0.202-0.837
                        C12.586,22.136,12.301,22,12,22h-2v-2c0-0.552-0.448-1-1-1H7.422L19.315,7.175l0.012,0.011c0.732-0.733,1.707-1.136,2.742-1.136
                        s2.011,0.403,2.742,1.136s1.138,1.707,1.138,2.743C25.949,10.965,25.546,11.938,24.812,12.671z M28.862,8.621L27.93,9.554
                        c-0.09-1.429-0.683-2.761-1.703-3.782c-1.021-1.022-2.354-1.614-3.787-1.703l0.938-0.931l0.002-0.002
                        C24.11,2.403,25.085,2,26.121,2s2.01,0.403,2.741,1.136C29.596,3.869,30,4.843,30,5.878C30,6.915,29.598,7.889,28.862,8.621z
                        M22.293,8.293l-10,10c-0.391,0.391-0.391,1.023,0,1.414C12.487,19.902,12.744,20,13,20s0.511-0.098,0.707-0.293l10-10
                        c0.391-0.391,0.391-1.023,0-1.414C23.315,7.902,22.684,7.902,22.293,8.293z"/>
                </g>

                </svg>
                </a>
            </div>
            {{else}}
            {{/if}}
        </div>
        <div id="video">
            <div id="video-fr"></div>
            <div id="quiz-container">
                <div class="quiz-header"><div id="quiz-question" class="quiz-body"></div></div>
                <ul id="quiz-options"></ul>
            </div>
              <div id="video-controller">
                    <button title="Previous" onclick="previous()" id="previous"><svg width="12px" height="12px" viewBox="0 0 306 306" fill="#0081d6" style="enable-background:new 0 0 306 306; margin-top:-2px; transform: rotate(180deg);">
                            <g id="skip-next">
                                <path d="M0,306l216.75-153L0,0V306z M255,0v306h51V0H255z"/>
                            </g>
                        </svg>
                         Previous
                        
                    </button>
                    <button title="Next" onclick="next()" id="next">Next 
                        <svg width="12px" height="12px" viewBox="0 0 306 306" fill="#0081d6" style="enable-background:new 0 0 306 306; margin-top:-2px">
                            <g id="skip-next">
                                <path d="M0,306l216.75-153L0,0V306z M255,0v306h51V0H255z"/>
                            </g>
                        </svg>
                    </button>
                </div>
        </div>  
    </div>
    
</div>

    <div id="ui-dismiss"></div>

