@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.wrapper, .header{
    display: grid;
    grid-template-columns: 1fr;
}
.header{
    width: 100vw;
    height: calc(98vh);
    background: #ffffff;
    background-image: url('../img/home_hero.svg');
    background-repeat: no-repeat;
    background-size: 42%;
    background-position: 91% 91%;

}

.nav{
    display: grid;
    background: #ffffff;
    position: fixed;
    width: 100vw;
    z-index: 999;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05); 
    transition: all 200ms ease-in;
}

.pseudo-lift{
    box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.6); 
}

.navcontainer{
    padding-top: 9px;
    padding-bottom: 5px;
    width: 75vw;
    justify-self: center;
    display: grid;
    height: 60px;
    grid-template-columns: 2fr 10fr;
}

.name > img{
    width: 41px;
    height: 41px;
    margin: 7px;
}

.menu > ul, .mobile-menu > ul{
    list-style-type: none;
    width: auto;
    float: right;
}

.mobile-menu > ul{
    padding: 0px;
    margin: 0px;
}
.menu > ul > li{
    display: inline;
    margin: 0px 3px;
}

.btn{
    text-decoration: none;
    color: #111111;
    font-size: 0.85rem;
    font-weight: 700;
    text-align: center;
    padding: 9px 17px;
    transition: all 300ms ease-in-out;
    width: 97px;
}

.btn:hover{
    background: #0081d6;
    color: #ffffff;
    padding: 9px 17px;
    border-radius: 3px;

}

.btn.primary{
    background: #0081d6;
    color: #ffffff;
    border-radius: 3px;
    padding: 9px 17px;
}

input.btn{
    border: none;
    cursor: pointer;
    font-size: 0.85rem;
    margin: 0px 4px;
}

#mc_embed_signup label{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding-bottom: 19px;
}

.hero-text{
    display: flex;
    width: 40vw;
    margin-left: 13vw;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.hero-text > h1{
    margin: 0px;
    padding: 0px;
    font-size: 4rem;
    color: #111111;
}

.hero-text > p, .courses > .heading > p{
    padding-top: 0px;
    margin-top: 0px;
    font-size: 1rem;
}

i.mobile{
    display: none;
}

.banner{
    background: #0081d6;
    color: #ffffff;
    font-weight: 700;
    width: 100vw;
    font-size: 3em;
    font-style: italic;
    padding: 79px 0px;
    text-align: center;
    margin-top: 79px;
}

.wcu{
    background: #f5f5f5;
    color: #111111;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 89px 0px;
}
.wcu h1{
    margin: 7px 0px;
}

.courses, .our-team{
    width: 100vw;
    display: grid;
    background: #ffffff;
}

.heading{
    width: 50vw;
    padding: 23px;
    display: grid;
    justify-self: center;
    color: #111111;
    text-align: center;
}

.heading > h2{
    margin: 0px;
    padding: 0px;
    font-size: 3rem;
}


.row{
    display: grid;
    width: 75vw;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 21px;
}

.row .card{
    display: grid;
    background: #ffffff;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
    transition: all 300ms ease-in-out;
}

.row .card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 2px 2px rgba(0, 112, 187, 0.4);
}

.row .card > .card-body{
    display: grid;
    padding: 11px;
}

.row .card > img{
    width: 100%;
}

.row .card > .card-body > h2{
    margin: 0px;
}

.row .card > .card-body > p{
    font-size: 15px;
}

.row .card > .card-body > .cta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 11px;
    justify-content: center;
    align-items: center;
}

#mc_embed_signup input.email{
    padding: 9px 17px;
    font-family: 'Roboto', sans-serif;
    height: 37px;
    font-size: 0.85rem;
}

.subscribe{
    padding: 89px 0px;
    background: #ffffff;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #0081d6;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 11px;
}

.mobile-menu{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    align-items: center;
    justify-content: center;
}

.our-team .img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.our-team > .row{
    width: 50vw;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.our-team .hover-details{
    cursor: pointer;
    position: absolute;
    display: flex;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: rgba(0, 129, 214, 0.9);
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    transition: all 300ms ease-in-out;
}

.our-team .hover-details:hover{
    opacity: 1;
}

.our-team p.name{
    margin: 4px 0px;
    font-size: 18px;
    font-weight: 700;
}
.our-team p.details{
    margin: 0px;
    font-weight: 400;
    padding: 0px 9px;
}

.our-team .card{
    position: relative;
    width: 257px;
    height: 257px;
    border-radius: 50%;
}

.our-team i{
    font-size: 25px;
    margin: 3px;
}

.course-detail{
    display: grid;
    position: relative;
    width: 50vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    height: auto;
    margin-left: 13vw;
}

.course-detail h2{
    font-size: 1.5rem;
    margin: 5px 0px;
}

.course-detail ul{
    font-size: 15px;
    margin: 5px 0px;
    list-style-image: url('../img/tick.svg')
}

.course-detail li{
    margin: 17px 0px;
}
.course-detail li span{
    position: relative;
    top: -13px;
    left: 13px;
}
.course-detail p{
    font-size: 15px;
    margin: 5px 0px;
}

@media (max-width: 1024px){
    .row{
        grid-template-columns: 1fr 1fr;
    }   
}

@media (max-width: 676px){
    .navcontainer{
        width: 90vw;
    }

    .show{
        display: grid;
        z-index: 99999;
        grid-template-rows: auto 1fr;
    }
    .mobile-menu > ul{
        width: 40vw;
    }
    .mobile-menu > ul > li{
        display: grid;
    }

    ul.desktop{
        display: none;
    }
    i.mobile{
        cursor: pointer;
        display: block;
        font-size: 35px;
        margin: 10px 3px;
        float: right !important;
    }
    .header{
        background-image: none;
        height: 80vh;
    }

    .hero-text{
        height: 80vh;
    }

    .hero-text, .row,.our-team > .row{
        width: 80vw;
    }

    .hero-text h1{
        font-size: 2rem;
    }

    .heading{
        width: 90%;
        padding: 0px;
    }
    .heading > h2{
        font-size: 2rem;
    }
    .row, .our-team > .row{
        grid-template-columns: 1fr;
    }
    .footer{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .wcu{
        font-size: 1rem;
    }
    #mc_embed_signup label{
        font-size: 1.5rem;
    }
    .closeMenuButton{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .course-detail{
        width: 95vw;
        margin-left: 3vw;
    }
    
}
